= form_with model: @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      %ul
        - @expense.errors.full_messages.each do |message|
          %li= message

  %section#main-body
    .container
      .row
        / Container for main page display content
        .col-xs-12.main-content
          .header-lined
            %div.expenses_listing_header
              %h3
                Add New Expense
          .row
            .form-group.col-sm-3
              %label{:for => "date"} Date
              = f.date_field :date, as: :date, value: @expense.date, class: 'form-control'
            .form-group.col-sm-3
              %label{:for => "expense-type-select"} Expense Type
              = f.select :expense_type, fetch_expense_types, { selected: @expense.try(:expense_type).try(:expense_type) }, { class: 'form-select' }
          .row
            .form-group.col-sm-3
              %label{:for => "payment-mode-select"} Payment Mode
              = f.select :payment_mode, fetch_payment_modes, { selected: @expense.try(:payment).try(:payment_mode).try(:name) }, { class: 'form-select' }
          .row
            .form-group.col-sm-3
              %label{:for => "bank-details-select"} Bank Name
              = f.select :bank_name, fetch_bank_names, { selected: @expense.try(:payment).try(:bank_detail).try(:name) }, { class: 'form-select' }
            .form-group.col-sm-3
              %label{:for => "amount-text"} Amount
              .input-group.mb-3
                .input-group-prepend
                  %span.input-group-text ₹
                = f.text_field :amount, value: @expense.try(:payment).try(:amount), class: 'form-control'
          .form-group
            %label{:for => "description"} Description
            .input-group
              = f.text_area :description, value: @expense.description, rows: 10, class: 'form-control'
        %div.submit-btn-wrapper
          %input.submit-btn.btn.btn-primary{:type => "submit", :value => "Save"}/
