= form_for @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      %ul
        - @expense.errors.full_messages.each do |message|
          %li= message

  %section#main-body
    .container
      .row
        / Container for main page display content
        .col-xs-12.main-content
          .header-lined
            %div.expenses_listing_header
              %h3
                Add New Expense
          .row
            .form-group.col-sm-3
              %label{:for => "date"} Date
              %input.form-control{:name => "date", :type => "date", :value => @expense.date}
            .form-group.col-sm-3
              %label{:for => "expense-type-select"} Expense Type
              %select.form-select{"aria-label" => "Expense type selection", "name" => "expense_type"}
                %option{:selected => "selected"}
                  = @expense.try(:expense_type).try(:expense_type)
                - @expense_types.each_with_index do |expense_type, index|
                  %option{:value => expense_type.expense_type} #{expense_type.expense_type}
          .row
            .form-group.col-sm-3
              %label{:for => "payment-mode-select"} Payment Mode
              %select.form-select{"aria-label" => "Payment mode selection", "name" => "payment_mode"}
                %option{:selected => "selected"}
                  = @expense.try(:payment).try(:payment_mode).try(:name)
                - @payment_modes.each_with_index do |payment_mode, index|
                  %option{:value => payment_mode.name} #{payment_mode.name}
          .row
            .form-group.col-sm-3
              %label{:for => "bank-details-select"} Bank Name
              %select.form-select{"aria-label" => "Payment mode selection", "name" => "bank_name"}
                %option{:selected => "selected"}
                  = @expense.try(:payment).try(:bank_detail).try(:name)
                - @bank_details.each_with_index do |bank_detail, index|
                  %option{:value => bank_detail.name} #{bank_detail.name}
            .form-group.col-sm-3
              %label{:for => "amount-text"} Amount
              .input-group.mb-3
                .input-group-prepend
                  %span.input-group-text ₹
                %input.form-control{:aria-label => "Amount", :name => "amount", :type => "text", :value => @expense.try(:payment).try(:amount)}/

          .form-group
            %label{:for => "description"} Description
            .input-group
              %textarea.form-control{"aria-label" => "With textarea", "name" => "description", "rows" => 12}
                = @expense.description
        %div.submit-btn-wrapper
          %input.submit-btn.btn.btn-primary{:type => "submit", :value => "Save"}/
