%section#main-body
  .container
    .row
      / Container for main page display content
      .col-xs-12.main-content
        .header-lined
          .row
            .col.expenses_listing_header
              %h3
                Expenses List
                = link_to 'Add New Expense', new_expense_path, class: 'new_expense_btn_link'

        .row
          .col-sm-2
            = render "sorting_filter"

        .row
          .form-group.col-sm-12
            %table.table
              %thead
                %tr
                  %th Date
                  %th Expense Type
                  %th Payment Mode
                  %th Bank Name
                  %th Amount
                  %th Description

              %tbody
                - @expenses.each do |expense|
                  - payment = expense.payment
                  %tr
                    %td= expense[:date]
                    %td= expense.try(:expense_type).try(:name)
                    %td= payment.try(:payment_mode).try(:name)
                    %td= payment.try(:bank_detail).try(:name)
                    %td= payment.try(:amount)
                    %td= expense[:description]
                    %td
                      %div.edit-btn
                        = link_to 'Edit', edit_expense_path(expense)

        .row
          = paginate @expenses, theme: 'bootstrap-5'


%br
